src/test/resources/jms-batch-messaging-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:jms-batch-messaging="http://www.mulesoft.org/schema/mule/jms-batch-messaging"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/jms-batch-messaging
http://www.mulesoft.org/schema/mule/jms-batch-messaging/1.0/mule-jms-batch-messaging.xsd
"      version="EE-3.6.2">

    <jms:activemq-connector name="jmsConnector"
                            specification="1.1" brokerURL="vm://localhost" validateConnections="true"
                            doc:name="Active MQ"/>

    <jms-batch-messaging:config name="JmsBatchMessaging" amountOfThreads="1"
                                connector-ref="jmsConnector" doc:name="JmsBatchMessaging"/>

    <flow name="testFlow">
        <jms-batch-messaging:consume
                config-ref="JmsBatchMessaging" destinationName="foo" batchSize="5" isTopic="false"
                isTransactional="false"
                timeout="1000" doc:name="JmsBatchMessaging (Streaming)"/>
        <logger message="Batch Step: #[payload]" level="INFO" category="org.mule.modules.jmsbatchmessaging"
                doc:name="Logger"/>
        <jms-batch-messaging:acknowledge config-ref="JmsBatchMessaging"/>
        <jms-batch-messaging:complete config-ref="JmsBaTranstchMessaging"/>
        <jms:outbound-endpoint queue="completed"/>
    </flow>

</mule>
